.login-container {
    text-align: center;
}

.field-label {
    margin-right: 20px;
}

.input-field {
    width: 100%
}


.login-button {
    width: 100%;
    background-color: rgb(44, 124, 221);
    color: white;
}